<div th:replace="~{ backend/app :: layout ('Create New Collection', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
  <div class="content-wrapper" id="main">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-12 d-flex justify-content-between">
            <h1>Create New Collection</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form id="post-form" method="post" action="#" th:action="@{/backend/collections/store}" enctype="multipart/form-data" th:object="${collection}">
                <div th:replace="~{backend/collection/_fragment :: #collection-form}"></div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">保存</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
