<div th:replace="~{ backend/app :: layout ('Edit Collection', _, ~{::#main}, ~{backend/collection/_form::#js_content}) }" xmlns:th="http://www.thymeleaf.org">
  <div class="content-wrapper" id="main">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-12 d-flex justify-content-between">
            <h1>Edit Collection</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Course Basic Info</h3>
              </div>
              <form id="post-form" method="post" action="#" th:action="@{/backend/collections/update}" enctype="multipart/form-data" th:object="${collection}">
                <input type="hidden" name="_method" value="PUT">
                <div th:replace="~{backend/collection/_form :: #collection-form}"></div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">更新</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <div class="col-lg-4 col-12">
            <div th:replace="~{backend/collection/_form :: #syllabus}"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
